.env
.venv

databases/fiass_token_all-MiniLM-L6-v2
databases/fiass_token_all-MiniLM-L12-v2
databases/fiass_recursive_all-MiniLM-L6-v2
databases/fiass_recursive_all-MiniLM-L12-v2
databases/fiass_character_all-MiniLM-L6-v2
databases/fiass_character_all-MiniLM-L12-v2
databases/chroma_token_all-MiniLM-L6-v2
databases/chroma_token_all-MiniLM-L12-v2
databases/chroma_recursive_all-MiniLM-L6-v2
databases/chroma_recursive_all-MiniLM-L12-v2
databases/chroma_chunks_character_all-MiniLM-L6-v2
databases/chroma_chunks_character_all-MiniLM-L12-v2

articles

data